---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"



const PROJECTS = [
    {
    title: "Nomadex",
    description:
      "A Django-based travel chatbot that can answer questions directly or call a hotel search tool (Google Hotels via SerpAPI) and synthesize a compact Markdown reply for users.",
    link: "https://kodigoviajero.onrender.com", // Add your project link here
    github: "https://github.com/diegocainzos/Nomadex", // Add your GitHub link here
    image: "/projects/nomadex.png", // Add your image path here
  },
  {
    title: "Music Genre Classifier",
    description:
      "Classifies the genre of any song within 10 genres with 90% accuracy. Presented as bachelor's thesis. Utilized audio processing techniques and mel spectrograms.",
    link: "", // Add your project link here
    github: "https://github.com/diegocainzos/music-genre-classification-tfg", // Add your GitHub link here
    image: "/projects/mgc.png", // Add your image path here
  },
  {
    title: "Hiragana & Katakana Quiz App",
    description:
      "A single-page application (SPA) designed for learning and practicing Japanese Hiragana and Katakana characters.",
    link: "https://japanese-learning-six.vercel.app", // Add your project link here
    github: "https://github.com/diegocainzos/kana-kun-quiz", // Add your GitHub link here
    image: "/projects/kana.png", // Add your image path here
  },
  {
    title: "GrandSlamVision",
    description:
      "A real-time tennis ball and player detection system using YOLO for sports analytics, automated refereeing, and performance analysis. Features include ball speed calculation, player tracking, and keypoint detection.",
    link: "", // Add your project link here
    github: "https://github.com/diegocainzos/GrandSlamVision", // Add your GitHub link here
    image: "/projects/gsm.png", // Add your image path here
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">

        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



